body{
  margin: 0;
}

.title{
  margin: 0;
  color: gray;
  font-size: 50px;
  padding-top: 30px;
}

header{
  align-items: center;
  display: flex;
  height: 100px;
}

header .inner{
  margin: auto;
  max-width: 100%;
  width: 1020px;
}

header .flexbox{
  align-items: center;
  display:  flex;
  justify-content: space-between;  
}

.nav-title ul{
  list-style: none;
}

.nav-title li{
  margin: 0 15px;
}

.nav-title a{
  color: gray;
  text-decoration: none;
}

nav span{
  background: #000;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;  
}


.contact-title{
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
}

.form{
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 1.1em;
  padding: 100px 300px;
}

.contact-box input{
  background-color: rgb(202, 202, 202);
}
.contact-box textarea{
  background-color: rgb(202, 202, 202);
  width: 500px;
  height: 100px;
}






footer{
  width: 100%;
  height: 120px;
  text-align: center;
}